<h1 class="text-center h1-login">Login</h1>

<div class="container">
  <div class="row">
    <form (submit)="onLoginSubmit()" class="test">
        <div class="form-group col-sm">
            <label class="col-form-label col-form-label-sm" for="inputSmall">Username</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="username" name="username">
        </div>
           <div class="form-group col-sm">
            <label class="col-form-label col-form-label-sm" for="inputSmall">Password</label>
            <input type="password" class="form-control form-control-sm" [(ngModel)]="password" name="password">
        </div>
        <div class="form-group col-sm-6">
        <input type="submit" class="btn btn-primary btn-sm" value="Login">
        </div>
    </form>
  </div>
</div>
